@media only screen and (max-width: 768px) {
  .homePage {
    min-height: 100vh;
    padding: 60px 15px;
    display: block;
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  .homePage[_ngcontent-lwo-c71] {
    padding: 110px 15px 70px;
  }
}

@media only screen and (max-width: 768px) {
  .homePage .homeHeader {
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
}

@media only screen and (max-width: 768px) {
  .homeHeader,
  .homeHeader .searchBlock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .homeHeader {
    z-index: 6;
    height: 60px;
    padding: 10px 15px;
    font-size: calc(16px + 0.3vw);
    font-weight: 600;
    box-shadow: 1px 0 5px 1px hsl(0deg 0% 54% / 40%);
  }
}

@media only screen and (max-width: 768px) {
  .homePage .homeHeader .content {
    padding: 10px 15px;
    background: #fff;
    justify-content: space-between !important;
    display: flex !important;
  }
}

.align_items_center {
  align-items: center !important;
  display: flex !important;
}

.back {
  margin-right: 1rem !important;
  background-color: transparent;
  border: 1px solid #ebebeb;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .homePage .group_name {
    font-weight: 700;
    font-size: calc(20px + 0.3vw);
    padding-top: 30px;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 769px) {
  .group-name {
    font-weight: 700;
    font-size: calc(18px + 0.3vw);
    padding: 20px 0;
    line-height: 1;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 768px) {
  .homePage .catalogGrid {
    display: grid;
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    grid-gap: 15px;
    padding: 15px 0;
  }
}
@media only screen and (min-width: 769px) {
  .catalogGrid {
    display: grid;
    grid-template-columns:
      calc((100% - 9vw) / 4) calc((100% - 9vw) / 4) calc((100% - 9vw) / 4)
      calc((100% - 9vw) / 4);
    grid-column-gap: 3vw;
  }
}

.viewBox {
  position: relative;
}
@media only screen and (min-width: 769px) {
  .viewBox:not(.desktopSearch) {
    margin-bottom: calc(3vw + 22px);
  }
}

@media only screen and (min-width: 769px) {
  .viewBox:not(.desktopSearch) .viewBoxItem {
    overflow: unset;
    border-radius: 15px;
  }
}
.viewBoxItem .viewBoxItemImage {
  position: relative;
  overflow: hidden;
}
.viewBoxItem {
  border: 1px solid #ebebeb;
  border-radius: 5vw;
}
.viewBoxItemImage:before {
  content: "";
  display: block;
  padding-top: 100%;
}

@media only screen and (min-width: 769px) {
  .viewBox:not(.desktopSearch) .viewBoxItemImageWrapper {
    border-radius: 15px;
  }
}
.viewBoxItemImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.viewBoxItemImageWrapper img:hover {
  transform: scale(1.1);
}
.viewBoxItemImageWrapper img {
  transform: scale(1);
  transition: all 0.3s linear;
  height: 100% !important;
  object-fit: scale-down !important;
}

image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: inherit;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  border-style: none;
}

@media only screen and (min-width: 769px) {
  .viewBox:not(.desktopSearch) .viewBoxItemInfo {
    padding: 15px 22px 10px;
    margin-bottom: 22px;
  }
}
.viewBoxItemInfo {
  padding: 10px;
}

@media only screen and (min-width: 769px) {
  .viewBox:not(.desktopSearch) .viewBoxItem .productName {
    margin-bottom: 3px;
    font-size: calc(12px + 0.3vw);
    font-weight: 600;
    cursor: pointer;
  }
}
.viewBoxItemInfo .productName {
  font-weight: 600;
  font-size: calc(14px + 0.3vw);
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.1rem;
  height: 2.2rem;
  margin-bottom: 5px;
  -webkit-box-orient: vertical;
  text-transform: uppercase;
}

@media only screen and (min-width: 769px) {
  .viewBox:not(.desktopSearch) .viewBoxItem .description {
    font-size: calc(8px + 0.3vw);
    color: #9d9d9d;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1rem;
    height: 2rem;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 769px) {
  .viewBox:not(.desktopSearch) .viewBoxItemInfo .priceBlock {
    font-size: calc(12px + 0.3vw);
    width: 90%;
    height: 44px;
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    align-items: stretch;
    display: flex !important;
  }
}
.viewBoxItemInfo .priceBlock {
  position: relative;
  width: 100%;
  font-size: calc(16px + 0.3vw);
  line-height: 1;
}

@media only screen and (min-width: 769px) {
  .viewBox:not(.desktopSearch) .viewBoxItemInfo .priceBlock > div:first-child {
    background: #3d3d3d;
    color: #fff;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
    width: 100% !important;
    border-radius: 10px !important;
  }
}

.viewBoxItemInfo .priceBlock .price {
  margin-bottom: 10px;
  align-items: flex-end !important;
  justify-content: center !important;
  display: flex !important;
}
.viewBoxItemInfo .priceBlock .currency {
  font-size: 0.8em;
}

.cancel__modal {
  width: 12px;
  height: 12px;
  fill: #000;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media only screen and (max-width: 768px) {
  .itemMoreContent {
    padding: 0 4vw 140px;
  }
}
